# Java/Maven
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.jar
*.war

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Node
node_modules/
dist/

# Python
*.py[cod]
__pycache__/

# Logs
*.log

# Unit test reports
TEST*.xml

# OS Generated
.DS_Store
Thumbs.db

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Environment
.env
